<h2>Edit Post</h2>
<%= form_for @posts do |f| %>
   <p>
   	 <%= f.label :title %>
   	 <%= f.text_field :title %>
   </p>
   <p>
   	 <%= f.label :body %>
   	 <%= f.text_area :body %>
   </p>

   <p>
   	 <%= f.select :category_id, @category.all.collect{ |x| [x.name, x.id] }, {:include_blank =>"select"} %> 
   </p>

   <p>
   	<%= f.submit "Update post" %>
   </p>

<% end %>	
<%= link_to "Go Back", post_path %>